rubbish*/
*.swp
backups/*
.recentf
.recentf~
.session
.smex-items
.mc-lists.el
ido-last
ido-last~
auto-save-list/*
server/*
cider-history
projectile-bookmarks.eld
projectile.cache
*.pdf
url/
eww-bookmarks
bookmarks
vimish-fold/
emms/
eshell/
.python-environments/
*.docx